@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', monospace;
  background: radial-gradient(circle, #000000, #0f0f0f);
  color: #00ffcc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  background: rgba(0, 255, 204, 0.05);
  border: 1px solid #00ffcc;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 25px #00ffcc;
  width: 300px;
  text-align: center;
  animation: fadeIn 1s ease-out;
  position: absolute;
}

h1 {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #00ffcc;
  animation: glitch 1.5s infinite;
}

input {
  width: 100%;
  padding: 10px;
  background: black;
  border: 1px solid #00ffcc;
  margin-bottom: 15px;
  color: #00ffcc;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #00ffcc;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ffcc;
  transition: 0.2s;
}
.buttonLogout{
  margin-top:10px;
  width: 100%;
  padding: 10px;
  background: #00ffcc;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ffcc;
  transition: 0.2s;
}

button:hover {
  background: #00ffaa;
}

.switch {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #00ffcc;
  font-family: monospace;
}

.switch a {
  color: #00ffaa;
  text-decoration: none;
}

.hidden {
  display: none;
}

@keyframes glitch {
  0% { text-shadow: 0 0 5px #00ffcc; }
  20% { text-shadow: 2px -2px 5px #ff00ff; }
  40% { text-shadow: -2px 2px 5px #00ffff; }
  60% { text-shadow: 1px 1px 5px #ff00ff; }
  80% { text-shadow: -1px -1px 5px #00ffff; }
  100% { text-shadow: 0 0 5px #00ffcc; }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
